body {
	margin-left:  2em;
	margin-right: 2em;
}

hr {
	border: 0.5px solid black;
	margin-bottom: 2em;
}

a {
	text-decoration: none;
	font-size:       8pt;
}

#title_container {
	text-align:    center;
	font-size:     24pt;
}

#contact_container {
	margin-left:   auto;
	margin-right:  auto;
	font-size:     10pt;
	display:       table;
	margin-top:    1em;
	margin-bottom: 1em;
}

.contact {
	margin-left:  1em;
	margin-right: 0.25em;
}

.contact_key {
	font-weight:  bold;
	margin-right: 0.25em;
}

.contact_value {
	
}

.section_title {
	font-size:      14pt;
	font-weight:    bold;
	vertical-align: text-top;
	padding-right:  1em;
}

.section_content {
	font-size:      10pt;
	padding-bottom: 2em;
	padding-top:    0.25em;
}

.institution {
	margin-bottom: 1em;
}

.institution_name {
	font-weight:   bold;
}

.institution_result {
	margin-left: 1em;
}

.skill {
	margin-bottom: 1em;
}

.skill_title {
	font-weight: bold;
}

.skill_list {
	margin-block-start: 0;
	margin-block-end:   0;
}

.experience {
	margin-bottom: 1em;
}

.experience_title {
	font-weight: bold;
}

.project {
	margin-bottom: 1em;
}

.project_title {
	
}

.project_title_name {
	font-weight: bold;
}