body {
	margin-left:  2em;
	margin-right: 2em;
	font-size:    10pt;
	font-family: 'Montserrat';
}

hr {
	border: 0.5px solid #AAA;
	margin-top: 1em;
	margin-bottom: 1em;
}

a {
	text-decoration: none;
}

ul {
	margin-top: 0;
}

@media print {
    .pagebreak { page-break-before: always; }
}

#name {
	text-align:    center;
	font-size:     22pt;
	font-weight:   bold;
}

#contact_container {
	margin-left:   auto;
	margin-right:  auto;
	font-size:     10pt;
	display:       table;
	margin-top:    1em;
}

.contact {
	margin-left:  1em;
	margin-right: 0.25em;
}

.contact_key {
	font-weight:  bold;
	margin-right: 0.25em;
}

.contact_value {
	
}

.section {

}

.title {
	font-size: 16pt;
	font-weight: bold;
}

.subsection {
	margin-top: 1em;
}

.subtitle {
	font-weight: bold;
}

.institution {
	margin-left: 1em;
}

.year {
	font-weight: normal;
}